@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --primary-cyan: hsl(172, 67%, 45%);
  --neutral-very-dark-cyan: hsl(183, 100%, 15%);
  --neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
  --neutral-light-grayish-cyan: hsl(185, 41%, 84%);
  --neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
}


h1, h2, h3, h4, p {
  margin: 0;
}

body {
  height: 100vh;
  background-color: var(--neutral-light-grayish-cyan);
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  width: 100%;
  margin-top: 13.3%;
  /* max-width: 86.66px;
  margin-top: 13.3%;
  margin-left: 38%;
  margin-right: 38%; */
}

header img {
  display: block;
  width: 23%;
  max-width: 86.66px;
  margin-right: auto;
  margin-left: auto;
}


