@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --primary-cyan: hsl(172, 67%, 45%);
  --neutral-very-dark-cyan: hsl(183, 100%, 15%);
  --neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
  --neutral-light-grayish-cyan: hsl(185, 41%, 84%);
  --neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --neutral-red: hsl(4, 50%, 57%);
}

* {
  font-family: 'Space Mono', monospace;
}

h1, h2, h3, h4, p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
}

body {
  height: 100vh;
  background-color: var(--neutral-light-grayish-cyan);
}

#app {
  width: 100%;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  width: 100%;
  margin-top: 13.3%;
  margin-bottom: 10.6%;
  /* max-width: 86.66px;
  margin-top: 13.3%;
  margin-left: 38%;
  margin-right: 38%; */
}

header img {
  display: block;
  width: 23%;
  max-width: 86.66px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 100%;
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
}

.calc-container {
  padding: 32px;
}

.bill-input-container {
}

.bill-text {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.48;
  color: var(--neutral-dark-grayish-cyan);
}

#bill-input {
  background-image: url(images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 20px;
  background-color: hsla(185, 38%, 97%, 1);
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 5px;
  text-align: right;
  font-size: 1.5rem;
  color: var(--neutral-very-dark-cyan);
  font-weight: 700;
  line-height: 1.5;
  margin-top: 6px;
}

#bill-input:focus {
  outline: 2px solid var(--primary-cyan);
}

.tip-selection-container {
  margin-top: 32px;
}

.tip-header {
  display: flex;
  justify-content: space-between;
}

.tip-label {
  color: var(--neutral-dark-grayish-cyan);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
}

.tip-option-button {
  width: 50%;
  background-color: var(--neutral-very-dark-cyan);
  color: #fff;
  border-radius: 5px;
}

.tip-button-container {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 44px);
  gap: 16px;
}


.tip-buttons {
  display: grid;
  grid-template-columns: 1fr 44px;
  column-gap: 4px;
}

.tip-button {
  background-color: var(--neutral-very-dark-cyan);
  border-radius: 5px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
}

.delete-button {
  background-color: var(--neutral-red);
  color: #fff;
  border-radius: 5px;
}

.division-container {
  margin-top: 32px;
}

.division-container label {
  font-size: 1rem;
  font-weight: 700;
  color: var(--neutral-dark-grayish-cyan);
  line-height: 1.48;
}

#people-input {
  background-image: url(images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 20px;
  background-color: hsla(185, 38%, 97%, 1);
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 5px;
  text-align: right;
  font-size: 1.5rem;
  color: var(--neutral-very-dark-cyan);
  font-weight: 700;
  line-height: 1.5;
  margin-top: 6px;
}

#people-input:focus {
  outline: 2px solid var(--primary-cyan);
}
