:root {
  --primary-strong-cyan: hsl(172, 67%, 45%);
  --neutral-very-dark-cyan: hsl(183, 100%, 15%);
  --neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
  --neutral-grayish-cyan: hsl(184, 14%, 56%);
  --neutral-light-grayish-cyan: hsl(185, 41%, 84%);
  --neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-error-red: #eb2632;
}

* {
  font-family: 'Space Mono', monospace;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--neutral-light-grayish-cyan);
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 920px;
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: clamp(3.125rem, 0.6382rem + 10.6103vw, 10.1875rem);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 239px;
  }
}


